---
import logoImagen from "~/assets/images/logoMTS.png";
import {Image} from "astro:assets";
import { menuMain } from "~/data/menus";
const currentYear = new Date().getFullYear();
import { siteName, firstTitle, secondTitle } from "~/data/config";

---

<footer class="bg-brand-green text-white">
	<div class="container pt-10 pb-8">
		<Image src={logoImagen} class="flex flex-col sm:flex-row items-center justify-center mx-auto h-12 sm:h-10 w-auto" alt="Missionary Tech Support Logo" />
		<nav class="flex flex-col sm:flex-row items-center justify-center gap-x-12 gap-y-3 font-medium mt-6" aria-label="Footer">
			{
				menuMain.map((item) => (
					<a href={item.url} class="hover:underline" target = {item.highlighted ? `"_blank"` : ""}>
						{item.name}
					</a>
				))
			}
		</nav>
		<p class="mt-10 text-center text-sm">&copy; {currentYear} {siteName}. All rights reserved. <a class="underline" href="/privacy-policy">Privacy policy</a></p>
	</div>
</footer>
